name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - run: npm install
      - run: npm test
      - name: Upload to Codecov
        uses: codecov/codecov-action@v4
        with:
          # This is the name of the coverage reporter.
          # cspell:ignore cobertura
          files: ./coverage/clover.xml
          token: ${{ secrets.CODECOV_TOKEN }}

